<h3>Sign up</h3>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="input-field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br/>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="input-field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.button class: 'btn btn-large waves-effect waves-light col s12 m6 offset-m3' do %>
      Sign up
    <% end %>
  </div>
<% end %>

<div class="col s12 m6 offset-m3 center-align pt-10">
  <%= link_to 'Already have an account?', new_session_path(resource_name) %>
</div>