<ul id="slide-out" class="side-nav">
  <% if current_user %>
    <li>
      <div class="userView">
        <div class="background">
          <%= image_tag 'office.jpg' %>
        </div>
        <!--<img class="circle" src="images/yuna.jpg">-->
        <%= link_to edit_user_registration_path do %>
          <span class="white-text email"><%= current_user.email %></span>
        <% end %>
      </div>
    </li>
    <li>
      <%= link_to books_path, class: 'waves-effect' do %>
        <i class="material-icons">library_books</i>Books
      <% end %>
    </li>
    <li>
      <%= link_to books_search_path, class: 'waves-effect' do %>
        <i class="material-icons">search</i>Search
      <% end %>
    </li>
    <li>
      <%= link_to books_manage_path, class: 'waves-effect' do %>
        <i class="material-icons">settings</i>Manage
      <% end %>
    </li>
    <li>
      <%= link_to destroy_user_session_path, class: 'waves-effect red-text', method: :delete do %>
        <i class="material-icons">power_settings_new</i>Sign out
      <% end %>
    </li>
  <% end %>
</ul>