<%= form_for(book) do |f| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="input-field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="input-field">
    <%= f.label :authors %>
    <%= f.text_field :authors %>
  </div>

  <div class="input-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="input-field">
    <%= f.label :publisher %>
    <%= f.text_field :publisher %>
  </div>

  <div class="input-field">
    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>

  <div class="input-field">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: 'materialize-textarea' %>
  </div>

  <div class="actions">
    <%= link_to books_path, class: 'btn waves-effect waves-light red' do %>
      Cancel <i class="material-icons right">cancel</i>
    <% end %>

    <%= f.button class: 'btn waves-effect waves-light' do %>
      Save <i class="material-icons right">send</i>
    <% end %>
  </div>
<% end %>
