<% content_for :title, 'Books' %>
<% content_for :navbar_actions do %>
  <li><a href="sass.html"><i class="material-icons">search</i></a></li>
<% end %>

<p id="notice"><%= notice %></p>

<table class="responsive-table striped centered">
  <thead>
  <tr>
    <th>Code</th>
    <th>Location</th>
    <th>Authors</th>
    <th>Title</th>
    <th>Publisher</th>
    <th>Year</th>
    <th>Notes</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.code %></td>
      <td><%= book.location %></td>
      <td><%= book.authors %></td>
      <td><%= book.title %></td>
      <td><%= book.publisher %></td>
      <td><%= book.year %></td>
      <td><%= book.notes %></td>
      <td>
        <%= link_to edit_book_path(book), class: 'waves-effect waves-light btn-flat' do %>
          <i class="material-icons teal-text">edit</i>
        <% end %>
      </td>
      <td>
        <%= link_to book, class: 'waves-effect waves-light btn-flat', method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="material-icons red-text">delete</i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<div class="fixed-action-btn">
  <%= link_to new_book_path, class: 'btn-floating btn-large waves-effect waves-light red' do %>
    <i class="material-icons">add</i>
  <% end %>
</div>