<% content_for :title, 'Find Book' %>

<%= form_for @search, as: :q, url: books_path, method: :get do |f| %>
  <div class="input-field">
    <%= f.label :code_eq, 'Code', class: @search.code_eq && 'active' %>
    <%= f.text_field :code_eq %>
  </div>

  <div class="input-field">
    <%= f.label :location_eq, 'Location', class: @search.location_eq && 'active' %>
    <%= f.text_field :location_eq %>
  </div>

  <div class="input-field">
    <%= f.label :authors_cont, 'Authors', class: @search.authors_cont && 'active' %>
    <%= f.text_field :authors_cont %>
  </div>

  <div class="input-field">
    <%= f.label :title_cont, 'Title', class: @search.title_cont && 'active' %>
    <%= f.text_field :title_cont %>
  </div>

  <div class="input-field">
    <%= f.label :publisher_eq, 'Publisher', class: @search.publisher_eq && 'active' %>
    <%= f.text_field :publisher_eq %>
  </div>

  <div class="input-field">
    <%= f.label :year_eq, 'Year', class: @search.year_eq && 'active' %>
    <%= f.number_field :year_eq %>
  </div>

  <div class="input-field">
    <%= f.label :notes_cont, 'Notes', class: @search.notes_cont && 'active' %>
    <%= f.text_area :notes_cont, class: 'materialize-textarea' %>
  </div>

  <div class="actions">
    <%= link_to books_path, class: 'btn waves-effect waves-light red' do %>
      Cancel <i class="material-icons right">cancel</i>
    <% end %>

    <%= f.button class: 'btn waves-effect waves-light' do %>
      Search <i class="material-icons right">search</i>
    <% end %>
  </div>
<% end %>
