<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @book.code %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @book.authors %>
</p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher %>
</p>

<p>
  <strong>Year:</strong>
  <%= @book.year %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @book.notes %>
</p>

<p>
  <strong>Location:</strong>
  <%= @book.location %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
