<h3>Sign in</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="input-field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="input-field">
    <%= f.label :password %><br/>
    <%= f.password_field :password, autocomplete: 'off' %>
  </div>

  <div class="right">
    <%= link_to 'Forgot your password?', new_password_path(resource_name), class: 'red-text' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="input-field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.button class: 'btn btn-large waves-effect waves-light col s12 m6 offset-m3' do %>
      Sign in
    <% end %>
  </div>
<% end %>

<%= link_to user_google_oauth2_omniauth_authorize_path,
            class: 'btn btn-large waves-effect waves-dark col s12 m6 offset-m3 mt-10 google-sign-in white black-text' do %>
  Sign in with Google
<% end %>

<div class="col s12 m6 offset-m3 center-align mt-10">
  <%= link_to 'Create account', new_registration_path(resource_name) %><br/>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
</div>
